#The following files and directories can be safely excluded from a source
#control repository, such as git. These files are generated and/or are not
#needed because they perform tasks similar to source control (e.g. history files)

#replace <workspace> with the name of your workspace
#replace <project> with the name of the project. E.g. "Default"
#replace <user> with your local user name

#User-specific files found in top level directory

*.wcp_settings
*.recent_files
*.DatabaseExplorer
*.MUF
*.WebPublishHistory
*.Default.History
*.*.DefWebProject
*.*.RecentWebProject

# Uncomment if using a Filesystem Library (A5Lib)
styling.ALM
styling.Alx
styling.MUF
styling.old_alb
*styling.old_alm
styling.old_alx

#Recommended. Files under <workspace>.A5Lib.resources (if A5Lib is used)
*.a5settings

#Folders under top level
.backup*                              #contains backup files
.history                              #contains history files

#The following files and folders are found in  a Web Project folder.
#It is recommended that these files be excluded from source control.

#Files in the web project folder for each project
*.tmp
*.backup
componentTypeCache
lastSelectedProfile

#Folders under the web project folder and any subfolders under these folders
__backup.backup                        #contains component backups
__deleted.deleted                      #contains deleted files
__undo.undo                            #contains undo history
__iispublishhistory.iispublishhistory  #contains IIS publish history
__staging.staging                      #staging folder for publishing


#The following files and folders are also found in a Web Project folder.
#These files can be included or excluded from source control at developer discretion

# These are optional (but suggested), and can be included in source control 
# as they are not unique to a user.  While they are regenerated at publish, 
# they should be unique to the component.
*._a5wcmp_manifest
*._a5wcmp_metadata
*._a5wcmp_compiled

#These are usually the same for multiple users, but may be unique.
#Uncomment to exclude from source control

#ProjectProperties.projectProperties    #contains all of the project properties
#pages.SecuritySettings                 #page and component security settings
#Project.SecuritySettings               #Security settings for project
#DataLink.SecuritySettings              #Connection data to any SQL security tables
#project.settings                       #All publish settings

#Uncomment to exclude PhoneGap project files from source control
#PhoneGapProjects                       #contains PhoneGap project files
